<div class="batteryCalculator batteryCalculatorParameter {{addClass}}" data-parameter="{{parameter}}" style="padding: 8px 0px 8px 0px;"> 
    <div><span>{{label}}:</span> &nbsp;<input type="text" size="10" class="{{parameter}}" value="{{default}}"/> {{labelAfter}}</div>
</div>
