<div class="codebox" data-content="{{content}}">
    <div class="codeboxBanner">
        <div class="codeboxBannerBox">
            {{#if configSchema}}
            <div class="apiHelper apiHelperConfigSchema" style="padding-bottom: 20px">
                <table class="apiHelperProductSelectorTable">
                    <tr class="apiHelperTrackerOrgRow" style="display:none"><td class="apiHelperProductSelectorLabel">Organization</td><td><select class="apiHelperTrackerOrgSelect apiHelperSelect"></select></td></tr>
                    <tr class="apiHelperTrackerProductRow"><td class="apiHelperProductSelectorLabel">Product</td><td><select class="apiHelperTrackerProductSelect apiHelperSelect"></select></td></tr>
                    <tr class="apiHelperTrackerDeviceRow"><td class="apiHelperProductSelectorLabel">Device</td><td><select class="apiHelperTrackerDeviceSelect apiHelperSelect" data-has-product-default="true"></select></td></tr>
                    <tr><td colspan="2"><button type="button" class="codeboxUploadSchemaButton">Upload Schema</button></td></tr>
                </table>
            </div>
            {{/if}}
            <div style="padding-left: 4px">
                <button type="button" class="codeboxDownloadButton" >Download</button> &nbsp;
                <button type="button" class="codeboxCopyButton">Copy to Clipboard</button> &nbsp;

                {{#if webide}}
                    <button type="button" class="codeboxWebIdeButton" data-appid="{{webide}}">Open in Web IDE</button> &nbsp;
                {{/if}}

                {{#if flash}}
                    <span class="codeboxFlashDeviceSpan" style="display: none"> &nbsp;&nbsp;
                        <select class="codeboxFlashDeviceSelect apiHelperCommonDevice"></select>
                        <button type="button" class="codeboxFlashDeviceButton" disabled>Flash</button> &nbsp;
                    </span>
                {{/if}}
            </div>
            <div class="codeboxFlashStatus"></div>
        </div>
    </div>
    <div style="height:{{height}}px; overflow:scroll;">
        <pre class="codeboxPre"><code class="codebox lang-{{format}}" data-content="{{content}}"></code></pre>
    </div>
</div>


