<div class="apiHelper apiHelperTrackerEdge" data-main="{{main}}" data-project="{{project}}" data-libraries="{{libraries}}" data-src="{{src}}" data-options="{{options}}">
    <div class="apiHelperBox">
        <div class="apiHelperTrackerEdgeControls">
            <p>
                Version: <select class="apiHelperTrackerEdgeVersion apiHelperSelect">
                </select> &nbsp;
                <button class="apiHelperTrackerEdgeDownload">Download</button>
            </p>
        </div>
        <div class="apiHelperTrackerEdgeStatus"></div>
    </div>
</div>
