html
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width")
		meta(content="Particle" property="og:title")
		meta(content="Documentation for Particle, a platform for connected devices." name="description")

		title Particle Documentation | #{title}
		script(src='/assets/js/jquery-1.11.1.min.js')
		link(rel="shortcut icon" href="/assets/orange.ico" type="image/x-icon")
		link(href="/assets/css/style.css" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="//cloud.typography.com/6107112/665726/css/fonts.css")

		script(type='text/javascript')
			| var devices = !{JSON.stringify(devices)};
			| var forkLocations = !{JSON.stringify(forkLocations)};
		script(type='text/javascript').
			if (devices.length === 1) {
				var fl = forkLocations[devices[0]];
				- window.location.replace(fl + window.location.hash);
			} else {
				var lastDevice = localStorage.getItem('lastDevice');
				if (lastDevice && forkLocations[lastDevice]) {
					- window.location.replace(forkLocations[lastDevice] + window.location.hash);
				}
			}

	body
		script(src='/assets/js/docs.js')
		script(src='/assets/js/ga.js')
		#docs
			.header
				.left
					a(href="https://www.particle.io")
					img(src="/assets/images/particle-docs.png" id="logo")
			#device-redirector.getting-started
				h1.choose-device-header Which device are you interested in?
				ul.devices
					each path, device in forkLocations
						a(href=path, id="#{device}-link")
							li.device(id=device)
								h3 #{device}
								img(src="/assets/images/#{device}.svg")
		script(type='text/javascript').
			for (var device in forkLocations) {
				var dl = document.getElementById(device + '-link');
				if (dl) {
					dl.href = dl.pathname + window.location.hash;
				}
			}
