<!doctype html>
<html class="two-columns">
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Particle Datasheets Documentation (formerly Spark) | {{title}}</title>

  <!-- jQuery -->
  <script src="/assets/js/jquery-1.11.1.min.js"></script>

  <!-- Let me embed vines -->
  <script async src="https://platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/orange.ico" type="image/x-icon" />

  <!-- Vendor theme mods -->
  <script src='/assets/js/jquery-styling.js'></script>
  <script src='/assets/js/bootstrap-dropdown.js'></script>
  <script src='/assets/js/prettify.js'></script>
  <script src='/assets/js/jquery.waypoints.js'></script>
  <script src='/assets/js/jquery.waypoints.inview.js'></script>

  <!-- Spark theme mods -->
  <link href='/assets/css/style.css' rel='stylesheet'>
  <script src='/assets/js/animated-core.js'></script>
  <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/49057/Dashboard/style.css?9t9e91">

  <!-- GOTHAM YO -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6107112/665726/css/fonts.css" />

  <!-- Meta -->
  <meta content="Particle" property="og:title">
  <meta content="Documentation for Particle, a platform for connected devices." name="description">


</head>
<body role='flatdoc'>
  <div id="docs" data-level>
    <div class='header'>
      <div class='left'>
        <a href="https://www.particle.io">
          <img src="/assets/images/particle-docs.png" id="logo">
        </a>
        <div class="sections">
          <a class="nav {{#contains path.href 'guide'}}active{{/contains}}" href="/guide">Guide</a>
          <a class="nav {{#contains path.href 'reference'}}active{{/contains}}" href="/reference">Reference</a>
          <a class="nav {{#contains path.href 'datasheets'}}active{{/contains}}" href="/datasheets">Datasheets</a>
          <a class="nav {{#contains path.href 'support'}}active{{/contains}}" href="/support">Support</a>
        </div>
        <div class="dropdown mobile-only">
          <a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{first-word-in-relative-url path.href}}
            <i class="icon ion-chevron-down"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="/guide">Guide</a></li>
            <li><a href="/reference">Reference</a></li>
            <li><a href="/datasheets">Datasheets</a></li>
            <li><a href="/support">Support</a></li>
          </ul>
        </div>
        <div class="search">
          <!--<script src='/assets/js/google-search.js'></script>
          <gcse:search></gcse:search>-->
        </div>
      </div>
      <div class='right'>
        {{#if devices}}
          <div class="dropdown">
            <a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="im-devices-icon"></i>
              {{#if photon}}
                Photon
              {{else}}
                Core
              {{/if}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="{{path.href}}{{path.name}}/photon/">Photon</a></li>
              <li><a href="{{path.href}}{{path.name}}/core/">Core</a></li>
            </ul>
          </div>
        {{/if}}
        <a href='https://www.github.com/spark/docs/tree/master/src/content/{{name}}' class="nav" target="_blank"><i class="ion-edit"></i>Edit</a>
      </div>
    </div>

    <div class='content-root'>
      <div class='menubar'>

      <ul class="nav reference">
        {{#each support}}
            <ul>
              <li class="top-level {{#page-equal ../path.href ../path.name path.href path.name}}active{{/page-equal}}">
                {{#page-equal ../path.href ../path.name path.href path.name}}
                  <span>{{{title}}}</span>
                  {{#if ../toc}}
                    <i id="toggle-in-page-nav" class="ion-plus"></i>
                  {{/if}}
                {{else}}
                  <a href="{{path.href}}{{path.name}}">{{{title}}}</a>
                {{/page-equal}}
              </li>
                {{#page-equal ../path.href ../path.name path.href path.name}}
                  {{#if ../../toc}}
                    <div class="in-page-toc-container">
                      <ul class="nav in-page-toc hide">
                        {{#each ../../../toc}}
                        <li class="middle-level" data-nav="{{id}}">{{#if children}}<i class="toggle-secondary-toc ion-arrow-right-b"></i>{{/if}}<a href="{{id}}" data-menu-href="{{dataHref}}">{{{text}}}</a></li>
                        {{#if children}}
                          <ul class="nav secondary-in-page-toc">
                            {{#each children}}
                              <li data-secondary-nav="{{id}}"><a href="{{id}}" data-menu-href="{{dataHref}}">{{{text}}}</a></li>
                            {{/each}}
                          </ul>
                        {{/if}}
                        {{/each}}
                      </ul>
                    </div>
                  {{/if}}
                {{/page-equal}}
            </ul>
        {{/each}}
      </ul>
      </div>
      <div class="page-body">
        <div class='content-inner'>
          <div class="content" >
            {{{contents}}}
          </div>
        </div>
      </div>
    </div>

  <!-- Custom -->
  <script type="text/javascript" src="https://s3.amazonaws.com/redirect.particle.io/redirect-banner.js"></script>
  <script src='/assets/js/docs.js'></script>
  <script src='/assets/js/ga.js'></script>

  <!-- REQUIRE JS -->
  <!--<script data-main="/assets/js/modules/app" src="/assets/js/modules/require.js"></script>-->

  <!-- Live Reload -->
  {{#if development}}
  <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</body>
</html>
