<!doctype html>
<html class="two-columns">
<head>
  {{> head sectionTitle='Support'}}

  {{> customHead}}

</head>

<body>

<div id="docs" data-level>
    {{> header}}

    <div class='content-root'>
      <div class='menubar'>

      <ul class="nav guide-menu">
        {{#each support}}
        <li data-level="{{inc @index}}" class="guide-section {{#contains ../path.href section}}active-section{{/contains}}">
          <h3 class="guide-section-titles" >{{{titelize section}}}</h3>
            <ol type="1">
              {{#each this}}
                <li class="top-level {{#page-equal ../../path.href ../../path.name path.href path.name}}active{{/page-equal}}" data-level="{{inc @../index}}.{{inc @index}}">
                  {{#page-equal ../../path.href ../../path.name path.href path.name}}
                    <span>{{{title}}}</span>
                    {{#if ../../../toc}}
                      <i id="toggle-in-page-nav" class="ion-minus"></i>
                    {{/if}}
                  {{else}}
                    <a href="{{path.href}}{{path.name}}">{{title}}</a>
                  {{/page-equal}}
                </li>
                {{#page-equal ../../path.href ../../path.name path.href path.name}}
                  {{#if ../../../toc}}
                    <div class="in-page-toc-container">
                      <ul class="nav in-page-toc show">
                        {{#each ../../../../toc}}
                        <li class="middle-level" data-nav="{{dataHref}}">{{#if children}}<i class="toggle-secondary-toc ion-arrow-right-b"></i>{{/if}}<a href="{{id}}" data-menu-href="{{dataHref}}">{{{text}}}</a></li>
                          {{#if children}}
                            <ul class="nav secondary-in-page-toc">
                              {{#each children}}
                                <li data-secondary-nav="{{dataHref}}"><a href="{{id}}" data-menu-href="{{dataHref}}">{{{text}}}</a></li>
                              {{/each}}
                            </ul>
                          {{/if}}
                        {{/each}}
                      </ul>
                    </div>
                  {{/if}}
                {{/page-equal}}
              {{/each}}
            </ol>
          </li>
        {{/each}}
      </ul>
      </div>
      <div class="page-body">
        <div class='content-inner'>
          <div class="content" >
            {{> supportBody}}
            <div class="mobile-arrows">
              {{> arrows}}
            </div>
          </div>
        </div>
        <div class="desktop-arrows">
          {{> arrows}}
        </div>
      </div>
    </div>
    {{> scripts}}

    <!--Zendesk Support button -->
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>

    <style type="text/css" media="screen, projection">
    @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
    </style>
    <script type="text/javascript">
    if (typeof(Zenbox) !== "undefined") {
      Zenbox.init({
        dropboxID:   "20206950",
        url:         "https://particle.zendesk.com",
        tabTooltip:  "Support",
        tabImageURL: "https://p2.zdassets.com/external/zenbox/images/tab_support_right.png",
        tabColor:    "#00ADEF",
        hide_tab: true,
        tabPosition: "Right"
      });
    }
    </script>
</body>
</html>
