<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Spark Docs | {{title}}</title>

  <!-- jQuery -->
  <script src="{{assets}}/js/jquery-1.11.1.min.js"></script>

  <!-- Let me embed vines -->
  <script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{assets}}/orange.ico" type="image/x-icon" />

  <!-- Vendor theme mods -->
  <script src='{{assets}}/js/jquery-styling.js'></script>
  <script src='{{assets}}/js/prettify.js'></script>
  <!-- <script src='{{assets}}/js/scrollspy.js'></script> -->

  <!-- Spark theme mods -->
  <link href='{{assets}}/css/style.css' rel='stylesheet'>
  <script src='{{assets}}/js/animated-core.js'></script>

  <!-- GOTHAM YO -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6107112/665726/css/fonts.css" />

  <!-- Meta -->
  <meta content="Spark" property="og:title">
  <meta content="Documentation for Spark, a platform for connected devices." name="description">

</head>
<body role='flatdoc'>

  <div id="docs">
    <div class='header'>
      <div class='left'>
        <a href="https://www.spark.io">
          <img src="{{assets}}/images/particle-horizontal.png" id="logo">
        </a>
        <a class="toggle-button {{#contains dirname
          'photon'}}active{{/contains}}" href="/photon">Photon</a>
        <a class="toggle-button {{#contains dirname
          'core'}}active{{/contains}}" href="/core">Core</a>
      </div>
      <div class='right'>
        <a href="{{assets}}/docs.zip" class="icon"><i class="icon ion-arrow-down-a"></i></a>
        <a href="http://www.github.com/spark/docs" class="icon"><i class="icon ion-social-github"></i></a>
        <a href="https://github.com/spark/docs/edit/master/src/content/{{basename}}.md" class="button">Edit this page</a>
      </div>
    </div>

    <div class='content-root' data-spy="scroll" data-target="#toc">
      <div class='menubar'>
        <div class='menu section' role='flatdoc-menu'>
          <ul>
            {{#withSort pages "data.order"}}
                <li class="{{data.device}}"><a
                  href='{{#contains dirname
                  "photon"}}/photon/{{basename}}{{else}}/core/{{basename}}
                  {{/contains}}' class="level-0 {{#compare basename '===' ../basename}}active{{/compare}}">{{data.title}}</a></li>
            {{/withSort}}
          </ul>
        </div>
        <div class='menu section' role='flatdoc-menu'>
          <ul id="toc">
          </ul>
        </div>
      </div>
      <div role='flatdoc-content' class='content'>
        {{#markdown}}
          {{> body}}
        {{/markdown}}
      </div>
    </div>
  </div>

  <!-- Custom -->
  <script src='{{assets}}/js/docs.js'></script>
  <script src='{{assets}}/js/ga.js'></script>
</body>
</html>
